DIGEST_REPLICATION_FACTOR=2
STORAGE_REPLICATION_FACTOR=2

USING_EPHEMERAL_DISKS=true

S3_STORAGE_BUCKET={{ humio_bucket_storage }}
# this should be removed when S3 native encryption is done
S3_STORAGE_ENCRYPTION_KEY=THISSHOULDBEREPLACEDBUTNEEDSTOBESTATIC
S3_STORAGE_REGION={{ aws_region }}

LOCAL_STORAGE_MIN_AGE_DAYS=7
LOCAL_STORAGE_PERCENTAGE=80

# Configuration for larger cluster example
# AUTOSHARDING_MAX=96
# INGEST_QUEUE_INITIAL_PARTITIONS=480
# DEFAULT_PARTITION_COUNT=180
# AUTOSHARDING_CHECKINTERVAL_MS=10000
# AUTOSHARDING_TRIGGER_DELAY_MS=60000
# MAX_DATASOURCES=40000
# BLOCKS_PER_MINISEGMENT=512